[flake8]

ignore =
  E402, # Module level import not at top of file
  W504, # Line break after binary operator
per-file-ignores = __init__.py:F401
exclude =
  .git,
  __pycache__,
  ._*,
  Documentation,
  Scripts,
  mytoolit/old/Logger.py,
  mytoolit/old/MyToolItCommands.py,
  mytoolit/old/MyToolItNetworkNumbers.py,
  mytoolit/old/MyToolItSth.py,
  mytoolit/old/MyToolItStu.py,
  mytoolit/old/MyToolItTests.py,
  mytoolit/old/Plotter.py,
  mytoolit/old/SthLimits.py,
  mytoolit/old/StuLimits.py,
  mytoolit/old/configKeys.py,
  mytoolit/old/mwt.py,
  mytoolit/old/myToolItWatch.py,
  mytoolit/old/network.py,
  mytoolit/old/test.py,
  mytoolit/old/testSignal.py,
