[flake8]

ignore =
  # Module level import not at top of file
  E402,
  # Line break before binary operator
  W503,
  # Line break after binary operator
  W504,
per-file-ignores = __init__.py:F401
exclude =
  .git,
  __pycache__,
  ._*,
  Documentation,
  *mytoolit/old/Logger.py,
  *mytoolit/old/MyToolItSth.py,
  *mytoolit/old/network.py
  *mytoolit/old/Plotter.py,
  *mytoolit/old/SthLimits.py,
  *mytoolit/old/test/HardwareSth.py,
  *mytoolit/old/test/MyToolItTestSth.py,
  *mytoolit/old/test/MyToolItTestSthManually.py,
  *mytoolit/old/test/MyToolItTestStu.py,
  *mytoolit/old/test/MyToolItTestStuManually.py,
  *mytoolit/old/test/testSignal.py
