# Ignore log files in repository root
/*.txt
!/requirements.txt

# Ideally the entries below should be part of your **global** .gitignore file,
# since you do not want to repeat (DRY principle) these settings for every
# Python project on your computer.

# Bytecode
__pycache__/
*.pyc

# Setuptools
*.egg-info

# Spyder project settings
.spyderproject
.spyproject
